body{
  font-family: Futura;
  background-color: #5C9CAD;
  color: #292826;
}

/* Create Page  and Edit Page*/
input, button{
  font-family:Futura;
}

button{
  background-color: black;
  color:white;
}


.createPage .header,
.editPage .header
{
  text-align: center;
  text-decoration:underline;
}

.editPage .header{
  position:relative;
  bottom:1em;
}

.createPage .createTable,
.editPage .editTable{
  text-align: center;
}

.createPage .input,
.editPage .input{
  position:relative;
  text-align: center;
  min-height:2em;
  min-width: 20em;
}

.createPage .submitBtn{
  position:relative;
  left:48.5em;
  min-height:2em;
  margin-top:1em;
}

.editPage .submitBtn{
  position: relative;
  left:50.5em;
  margin-top: 1em;
}

select{
  height:2.4em;
}

/* Home Page */
.assignmentDescribe{
  width:20em;
  margin:0 auto;
  color:white;
  text-align: center;
  position:relative;
  bottom:3em;
  left:30em;
}

.proj{
  background-color:black;
}

.projParagraph{
  background-color: black;
  position:relative;
  bottom:1.32em;
}

.intro .header{
  position: relative;
  text-align: center;
  text-decoration: underline;
  bottom:4em;
}

/* Table */
table{
  position:relative;
  bottom:8em;
}

table,th,td{
  border:2px solid black;
}

th{
  font-family:fantasy;
}

th,td,tr{
  padding:1em;
  background-color:white;
  color:#5C9CAD;
}


table{
  width:100%;
}


tr{
  text-align: center;
  font-family: Futura;
}

#edit:hover{
  zoom:1.5;
}

#delete:hover{
  zoom:1.5;
}

/* Navigation */
.homeBtn{
  padding-right:5em;
}


.createLink:hover{
  color:black;
}

.homeBtn:hover{
  color:black;
}
